/* style.css */

body {
	font-family: arial, "Times New Roman", sans-serif;
	background-color: #222222;
	color:#FA7090;
}

.title {
	font-size: 35px;
	color: #222222;
	background-color: #FA7090;
	text-align: center;
}

.img {
	text-align: center;
}

.link-list {
	list-style: none;
}

a {
	color: #22AB00;
}