/* style.css */

html {
	box-sizing:border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	}

body {
	font-family: arial, "Times New Roman", sans-serif;
	background-color: #222222;
	color:#FA7090;
	margin:45px 100px 45px 100px;
}

.title {
	font-size: 35px;
	color: #222222;
	background-color: #FA7090;
	text-align: center;
}

.img {
	text-align: center;
}

.link-list {
	padding: 0px;
	margin:10px 100px 10px 100px;
	text-align: center;
	list-style: none;
	padding-top: 4px;
	padding-bottom: 4px;
}

.disclaimer {
	margin: 50px;
	font-size: 40px;
}

.fine-print {
	font-size: 15px;
	margin: 50px;
}

.breakline {
	height:5px;
	background-color:#FA7090;
	margin:50px
}

h2 {
	font-size:40px;
	text-align: center;
}

p {
	text-align: center;
	margin:5px;
}

a {
	font-size: 27px;
	text-align: center;
	color: #22AB00;
}